.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow-x: hidden;
}

.left {
    flex: 1;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    transition: all 0.3s ease-in-out;
}

.right {
    flex: 1;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.text {
    font-size: 48px;
    color: #FFA12D;
    transition: all 0.3s ease-in-out;
}

.arrow {
    margin: 0 20px;
    font-size: 56px;
    color: #FFA12D;
    transition: all 0.3s ease-in-out;
}

.left:hover {
    transform: translateX(-50px);
    background-color: #FFA12D;
    cursor: pointer;
}

.right:hover {
    transform: translateX(50px);
    background-color: #FFA12D;
    cursor: pointer;
}

.left:hover #left-arrow {
    transform: translateX(-50px);
    color: #303030;
}

.left:hover #left-text {
    transform: translateX(-25px);
    color: #303030;
}

.right:hover #right-arrow {
    transform: translateX(50px);
    color: #303030;
}

.right:hover #right-text {
    transform: translateX(25px);
    color: #303030;
}
